<%- include("partials/header.ejs") %>

<h1>Post</h1>

<ul>
    <li>
        <strong>First name:</strong> <%= post.fName %><br>
        <strong>Last name:</strong> <%= post.lName %><br>
        <strong>Topic field:</strong> <%= post.topicField %><br>
        <strong>Text field:</strong> <%= post.textField %>
    </li>
</ul>

<%- include("partials/footer.ejs") %>
